<!DOCTYPE html>
<html>
<head>
	<title>Confrence center</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/static/js/jquery-1.12.4.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
	 {% block extrahead %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Confrence center</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/editprofile/">Edit profile</a></li>
						<li><a href="/password_reset/">Change password</a></li>
						<li><a href="/logout/">Logout</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Confrence<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/vc_create/">Add Confrence request</a></li>
						<li><a href="/status/approved/">My Approved calls</a></li>
						<li><a href="/status/pending/">My Pending calls</a></li>
						{% if request.user.is_superuser %}
						<li><a href="/admin/callcenter/videocall/">Approve calls</a></li>
						{% endif %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">How to<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/troubleshoot/">setup new system</a></li>
						<li><a href="/troubleshoot/soundprob/">fix sound problems</a></li>
						<li><a href="/troubleshoot/videoprob/">fix video problems</a></li>
						<li><a href="/troubleshoot/cameraprob/">fix camera problems</a></li>
						<li><a href="/troubleshoot/networkprob/">fix network problems</a></li>
					</ul>
				</li>
				{% if request.user.is_superuser %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site mangement<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/admin/auth/user/add/">Add user</a></li>
						<li><a href="/admin/callcenter/vcallcenter/add/">Add VC kit</a></li>
						<li><a href="/kitsync/">User/Kit sync</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System rules<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/addlocation/">Add location</a></li>
						<li><a href="/rmxrules/">RMX rules</a></li>
						<li><a href="/version/">VC Version and distribution</a></li>
						<li><a href="/api/">Api Use</a></li>
					</ul>
				</li>
				{% endif %}
				<li><a href="/status/physical/">My VC diagnostics</a></li>
				<li><a href="/about">about</a></li>
			</ul>
		</div>
	</div>
</nav>
{% if user.is_authenticated %}
Hi {{ user.username }}!
<a href="{% url 'logout' %}">logout</a>
{% else %}
<a href="{% url 'login' %}">login</a>
{% endif %}
</header>
<hr>
<main>
	{% block content %}
	{% endblock %}
</main>
<hr>
</body>
</html>