<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    needs more styla
<div class="container">
    <label>
        <b>
            Username
        </b>
    </label>
    <input type="text" placeholder="Enter Username" name="username" required>
</div>
<div class="container">
    <label>
        <b>
            Password
        </b>
    </label>
    <input type="text" placeholder="Enter Password" name="password" required>
</div>
<button type="submit" onclick="POST">Login</button>
</body>
</html>