<!DOCTYPE html>
<html>
  <head>
    <title>Confrence center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/static/js/jquery-1.12.4.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="/static/css/login.css">

  </head>
  <body>
  <main>
<h1>
  <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
</h1>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                {% block content %}
                  <h2>Login</h2>
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
                  </form>
                {% endblock %}

				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
          </div>
</div>
  </main>
  <hr>
</body>
</html>